$bgcolor : #454955;
$textcolor:#F3EFF5;
$pinky: rgb(73, 0, 18);
$anderlecht: #3C153B;
$babykleur: #89BD9E;
$vanillegeelachtig : #F0C987;
$rood: #DB4C40;

div#error {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 20%;
    background-color: $anderlecht;
    color: $textcolor;

    h1 {
        font-size: 4rem;
        text-transform: uppercase;
    }

}

body#loginpage,
body#registerpage {
    background-color: $anderlecht;
    background-image: url("/pics/bgimages.jpg");
    background-repeat: repeat;
}

.fill {
    min-height: 100%;
    height: 100%;
    padding-top: 100px;

}

div#login,
div#register {
    width: 400px;
    text-align: center;
    margin: auto;


    img {
        width: 250px;
    }

    h3 {
        font-size: 11px;
        padding-bottom: 20px;
    }

    .container {
        font-family: 'Montserrat',
            sans-serif;
        text-transform: uppercase;

    }

    label {
        font-size: 14px;
        text-transform: none;
    }

    .login-form-2 {
        color: $textcolor;
        background-color: $anderlecht;
        border-radius: 1rem;
        height: 100%;
        opacity: 0.9;

        .form-control {
            font-size: 12px;
            border-radius: 1.5rem;
            background-color: $pinky;
            color: $textcolor;
            border: $rood 2px solid;

        }

        .form-control:focus {
            box-shadow: none;
        }

        .btnSubmit,
        .btnregis {
            font-weight: 700;
            font-size: 12px;
            height: 50px;
            width: 100%;
            background-color: $pinky;
            border: 3px $rood solid;
            border-radius: 1.5rem;
            text-transform: uppercase;
            color: $textcolor;
            margin-top: 20px;
            margin-bottom: 20px;

        }

        .btnSubmit:hover,
        .btnregis:hover {

            border: $pinky 3px solid;
        }

        .btnSubmit:active {
            box-shadow: none;
        }

        .btnForgetPwd {
            text-decoration: none;
            color: $textcolor;
            margin-top: 20px;
            text-align: center;
            font-size: 11px;
        }

        .btnForgetPwd:hover {
            text-decoration: none;
            color: lightblue;
        }

    }


}