body#error {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 20%;
  background-color: #3C153B;
  color: #F3EFF5;
}
body#error h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

body .btnSubmit,
body .btnregis {
  font-weight: 700;
  font-size: 12px;
  height: 50px;
  width: 100%;
  background-color: #31124b;
  opacity: 0.8;
  border: 3px #DB4C40 solid;
  border-radius: 1.5rem;
  text-transform: uppercase;
  color: #F3EFF5;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
body .btnSubmit:hover,
body .btnregis:hover {
  background-color: #3C153B;
}
body .btnSubmit:active {
  box-shadow: none;
}

body#loginpage,
body#registerpage {
  background-color: #490012;
  background-image: url("/pics/bgimages.jpg");
  background-repeat: repeat;
}
body#loginpage .fill,
body#registerpage .fill {
  min-height: 100%;
  height: 100%;
  padding-top: 100px;
}
body#loginpage div#login,
body#loginpage div#register,
body#registerpage div#login,
body#registerpage div#register {
  min-width: 450px -75px;
  max-width: 450px;
  text-align: center;
  margin: auto;
}
body#loginpage div#login img,
body#loginpage div#register img,
body#registerpage div#login img,
body#registerpage div#register img {
  width: 200px;
}
body#loginpage div#login h3,
body#loginpage div#register h3,
body#registerpage div#login h3,
body#registerpage div#register h3 {
  font-size: 11px;
  padding-bottom: 20px;
}
body#loginpage div#login .container,
body#loginpage div#register .container,
body#registerpage div#login .container,
body#registerpage div#register .container {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
body#loginpage div#login label,
body#loginpage div#register label,
body#registerpage div#login label,
body#registerpage div#register label {
  font-size: 14px;
  text-transform: none;
}
body#loginpage div#login .login-form-2,
body#loginpage div#register .login-form-2,
body#registerpage div#login .login-form-2,
body#registerpage div#register .login-form-2 {
  color: #F3EFF5;
  background-color: rgba(49, 18, 75, 0.9);
  border: 6px #3C153B solid;
  height: 100%;
  opacity: 0.8;
  border-radius: 1rem;
}
body#loginpage div#login .login-form-2 .form-control,
body#loginpage div#register .login-form-2 .form-control,
body#registerpage div#login .login-form-2 .form-control,
body#registerpage div#register .login-form-2 .form-control {
  font-size: 12px;
  border-radius: 1.5rem;
  background-color: #3C153B;
  color: #F3EFF5;
  border: #F0C987 1px solid;
}
body#loginpage div#login .login-form-2 .form-control:focus,
body#loginpage div#register .login-form-2 .form-control:focus,
body#registerpage div#login .login-form-2 .form-control:focus,
body#registerpage div#register .login-form-2 .form-control:focus {
  box-shadow: none;
}
body#loginpage div#login .login-form-2 .btnForgetPwd,
body#loginpage div#register .login-form-2 .btnForgetPwd,
body#registerpage div#login .login-form-2 .btnForgetPwd,
body#registerpage div#register .login-form-2 .btnForgetPwd {
  text-decoration: none;
  color: #F3EFF5;
  margin-top: 20px;
  text-align: center;
  font-size: 11px;
}
body#loginpage div#login .login-form-2 .btnForgetPwd:hover,
body#loginpage div#register .login-form-2 .btnForgetPwd:hover,
body#registerpage div#login .login-form-2 .btnForgetPwd:hover,
body#registerpage div#register .login-form-2 .btnForgetPwd:hover {
  text-decoration: none;
  color: lightblue;
}

body#home {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  font-weight: 600;
}
@media (max-width: 987px) {
  body#home ul li {
    margin: 0px;
    padding: 0px;
  }
  body#home div#top div#navigatie {
    padding: 0px;
  }
  body#home .active {
    background-color: #DB4C40;
    border-radius: 0px 0px 0px 0px !important;
  }
  body#home div#logo {
    left: 15% !important;
    top: 80px !important;
  }
}
@media (max-width: 1325px) {
  body#home div#logo {
    left: 40% !important;
  }
}
body#home div#top {
  height: 100%;
  position: relative;
  background-color: #31124b;
}
body#home div#top div#logo {
  position: absolute;
  top: 20px;
  left: 45%;
}
body#home div#top div#logo img {
  width: 200px;
}
body#home div#top div#topbutton {
  height: 80px !important;
  padding: 2px;
  margin: 5px;
  box-sizing: border-box;
}
body#home div#top div#topbutton .btnregis {
  margin: 0px;
  margin-left: 5px;
  padding: 0px;
  min-width: 120px;
  letter-spacing: 3px;
  height: 35px;
}
body#home div#top div#topbutton div {
  height: 0px;
}
body#home div#top div#navigatie {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  max-width: 100%;
  font-size: 12px;
  margin: 0px;
  top: 50px;
  color: #F3EFF5;
  background-color: #31124b;
  border-bottom: solid 5px #DB4C40;
  letter-spacing: 3px;
}
body#home div#top div#navigatie .navbar {
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 0px;
}
body#home div#top div#navigatie .navbar button {
  margin-bottom: 20px;
  background-color: #DB4C40;
}
body#home div#top div#navigatie .navbar button span.navbar-toggler-icon {
  color: #DB4C40;
}
body#home div#top div#navigatie ul li {
  padding-bottom: 0px;
  box-sizing: border-box;
  text-align: center;
}
body#home div#top div#navigatie ul li a {
  min-width: 200px;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  margin: auto;
  padding-left: 0;
}
body#home div#top div#navigatie ul li .active {
  background-color: #DB4C40;
  border-radius: 30px 30px 0px 0px;
}
body#home div#top a {
  color: #F3EFF5;
}
body#home div#top a:hover {
  color: #F0C987;
}

/*# sourceMappingURL=screen.css.map */
