$bgcolor : #f1f0de;
$textcolor:#f48357;
$buttoncolor:#e4681e;
$lichtgeel: #fad37a;

div#error {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 20%;
    background-color: $bgcolor;
    color: $textcolor;

    h1 {
        font-size: 4rem;
        text-transform: uppercase;
    }

}

body#loginpage {
    background-color: $bgcolor;


}

div#login {
    width: 400px;
    text-align: center;
    margin: auto;

    img {
        width: 250px;
    }

    h3 {
        font-size: 11px;
        padding-bottom: 20px;
    }

    .container {
        font-family: 'Montserrat',
            sans-serif;
        text-transform: uppercase;
        background-color: $bgcolor;
    }



    .login-form-2 {
        color: $textcolor;

        .form-control {
            font-size: 12px;
            border-radius: 1.5rem;
            background-color: $bgcolor;
            color: $buttoncolor;
            border: $buttoncolor 2px solid;
        }

        .form-control:focus {
            box-shadow: none;
        }

        .btnSubmit,
        .btnregis {
            font-weight: 700;
            font-size: 12px;
            height: 50px;
            width: 100%;
            background-color: $buttoncolor;
            border: 3px $textcolor solid;
            border-radius: 1.5rem;
            text-transform: uppercase;
            color: $bgcolor;
            margin-top: 20px;

        }

        .btnSubmit:active {
            box-shadow: none;
        }

        .btnForgetPwd {
            text-decoration: none;
            color: $textcolor;
            margin-top: 20px;
            float: right;
            font-size: 11px;
        }

        .btnForgetPwd:hover {
            text-decoration: none;
            color: lightblue;
        }

    }


}