body#error {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 20%;
  background-color: #3C153B;
  color: #F3EFF5;
}
body#error h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

body .btnSubmit,
body .btnregis {
  font-weight: 700;
  font-size: 12px;
  height: 50px;
  width: 100%;
  background-color: #31124b;
  opacity: 0.8;
  border: 3px #DB4C40 solid;
  border-radius: 1.5rem;
  text-transform: uppercase;
  color: #F3EFF5;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
body .btnSubmit:hover,
body .btnregis:hover {
  background-color: #3C153B;
}
body .btnSubmit:active {
  box-shadow: none;
}
@media (min-width: 768px) {
  body .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    visibility: visible !important;
  }
}

body#loginpage,
body#registerpage {
  background-color: #490012;
  background-image: url("/pics/bgimages.jpg");
  background-repeat: repeat;
}
body#loginpage .fill,
body#registerpage .fill {
  min-height: 100%;
  height: 100%;
  padding-top: 100px;
}
body#loginpage div#login,
body#loginpage div#register,
body#registerpage div#login,
body#registerpage div#register {
  min-width: 450px -75px;
  max-width: 450px;
  text-align: center;
  margin: auto;
}
body#loginpage div#login img,
body#loginpage div#register img,
body#registerpage div#login img,
body#registerpage div#register img {
  width: 200px;
}
body#loginpage div#login h3,
body#loginpage div#register h3,
body#registerpage div#login h3,
body#registerpage div#register h3 {
  font-size: 11px;
  padding-bottom: 20px;
}
body#loginpage div#login .container,
body#loginpage div#register .container,
body#registerpage div#login .container,
body#registerpage div#register .container {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
body#loginpage div#login label,
body#loginpage div#register label,
body#registerpage div#login label,
body#registerpage div#register label {
  font-size: 14px;
  text-transform: none;
}
body#loginpage div#login .login-form-2,
body#loginpage div#register .login-form-2,
body#registerpage div#login .login-form-2,
body#registerpage div#register .login-form-2 {
  color: #F3EFF5;
  background-color: rgba(49, 18, 75, 0.9);
  border: 6px #3C153B solid;
  height: 100%;
  opacity: 0.8;
  border-radius: 1rem;
}
body#loginpage div#login .login-form-2 .form-control,
body#loginpage div#register .login-form-2 .form-control,
body#registerpage div#login .login-form-2 .form-control,
body#registerpage div#register .login-form-2 .form-control {
  font-size: 12px;
  border-radius: 1.5rem;
  background-color: #3C153B;
  color: #F3EFF5;
  border: #F0C987 1px solid;
}
body#loginpage div#login .login-form-2 .form-control:focus,
body#loginpage div#register .login-form-2 .form-control:focus,
body#registerpage div#login .login-form-2 .form-control:focus,
body#registerpage div#register .login-form-2 .form-control:focus {
  box-shadow: none;
}
body#loginpage div#login .login-form-2 .btnForgetPwd,
body#loginpage div#register .login-form-2 .btnForgetPwd,
body#registerpage div#login .login-form-2 .btnForgetPwd,
body#registerpage div#register .login-form-2 .btnForgetPwd {
  text-decoration: none;
  color: #F3EFF5;
  margin-top: 20px;
  text-align: center;
  font-size: 11px;
}
body#loginpage div#login .login-form-2 .btnForgetPwd:hover,
body#loginpage div#register .login-form-2 .btnForgetPwd:hover,
body#registerpage div#login .login-form-2 .btnForgetPwd:hover,
body#registerpage div#register .login-form-2 .btnForgetPwd:hover {
  text-decoration: none;
  color: lightblue;
}

body#home {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  font-weight: 400;
}
@media (max-width: 575.98px) {
  body#home div#top {
    height: 120px;
  }
  body#home .form-top,
body#home row {
    max-width: 100%;
    margin: 0px;
    float: none;
    position: absolute;
  }
  body#home .btnregis {
    margin: 0px;
  }
  body#home img {
    visibility: hidden;
  }
}
body#home div#top {
  position: relative;
}
body#home div#top div#navigatie {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin: 0px;
  position: relative;
  background-color: rgba(49, 18, 75, 0.8);
}
body#home div#top div#navigatie img {
  width: 120px;
}
body#home div#top div#navigatie ul.navbar-nav {
  position: absolute;
  bottom: 2px;
}
body#home div#top div#navigatie .form-top {
  max-width: 450px;
  float: right;
  margin: 2px;
}
body#home div#top div#navigatie .form-top input#profiel,
body#home div#top div#navigatie .form-top input#logout {
  margin-top: 5px;
  margin-left: 5px;
  letter-spacing: 3px;
}

/*# sourceMappingURL=screen.css.map */
