body#error {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 20%;
  background-color: #3C153B;
  color: #F3EFF5;
}
body#error h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

body .btnSubmit,
body .btnregis {
  font-weight: 700;
  font-size: 12px;
  height: 50px;
  width: 100%;
  background-color: #31124b;
  opacity: 0.8;
  border: 2px #F0C987 solid;
  border-radius: 1.5rem;
  text-transform: uppercase;
  color: #F3EFF5;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
body .btnSubmit:hover,
body .btnregis:hover {
  background-color: #3C153B;
}
body .btnSubmit:active {
  box-shadow: none;
}

body#loginpage,
body#registerpage {
  background-color: #490012;
  background-image: url("/pics/bgimages.jpg");
  background-repeat: repeat;
}
body#loginpage .fill,
body#registerpage .fill {
  min-height: 100%;
  height: 100%;
  padding-top: 100px;
}
body#loginpage div#login,
body#loginpage div#register,
body#registerpage div#login,
body#registerpage div#register {
  min-width: 450px -75px;
  max-width: 450px;
  text-align: center;
  margin: auto;
}
body#loginpage div#login img,
body#loginpage div#register img,
body#registerpage div#login img,
body#registerpage div#register img {
  width: 200px;
}
body#loginpage div#login h3,
body#loginpage div#register h3,
body#registerpage div#login h3,
body#registerpage div#register h3 {
  font-size: 11px;
  padding-bottom: 20px;
}
body#loginpage div#login .container,
body#loginpage div#register .container,
body#registerpage div#login .container,
body#registerpage div#register .container {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
body#loginpage div#login label,
body#loginpage div#register label,
body#registerpage div#login label,
body#registerpage div#register label {
  font-size: 14px;
  text-transform: none;
}
body#loginpage div#login .login-form-2,
body#loginpage div#register .login-form-2,
body#registerpage div#login .login-form-2,
body#registerpage div#register .login-form-2 {
  color: #F3EFF5;
  background-color: rgba(49, 18, 75, 0.9);
  border: 6px #3C153B solid;
  height: 100%;
  opacity: 0.8;
  border-radius: 1rem;
}
body#loginpage div#login .login-form-2 .form-control,
body#loginpage div#register .login-form-2 .form-control,
body#registerpage div#login .login-form-2 .form-control,
body#registerpage div#register .login-form-2 .form-control {
  font-size: 12px;
  border-radius: 1.5rem;
  background-color: #3C153B;
  color: #F3EFF5;
  border: #F0C987 1px solid;
}
body#loginpage div#login .login-form-2 .form-control:focus,
body#loginpage div#register .login-form-2 .form-control:focus,
body#registerpage div#login .login-form-2 .form-control:focus,
body#registerpage div#register .login-form-2 .form-control:focus {
  box-shadow: none;
}
body#loginpage div#login .login-form-2 .btnForgetPwd,
body#loginpage div#register .login-form-2 .btnForgetPwd,
body#registerpage div#login .login-form-2 .btnForgetPwd,
body#registerpage div#register .login-form-2 .btnForgetPwd {
  text-decoration: none;
  color: #F3EFF5;
  margin-top: 20px;
  text-align: center;
  font-size: 11px;
}
body#loginpage div#login .login-form-2 .btnForgetPwd:hover,
body#loginpage div#register .login-form-2 .btnForgetPwd:hover,
body#registerpage div#login .login-form-2 .btnForgetPwd:hover,
body#registerpage div#register .login-form-2 .btnForgetPwd:hover {
  text-decoration: none;
  color: lightblue;
}

@media (max-width: 987px) {
  div.detail-af {
    padding: 0px !important;
  }
  div.detail-af div {
    width: 100%;
    padding: 0px;
    height: 500px;
    background-size: 987px !important;
    background-position: top;
    background-repeat: no-repeat;
  }

  ul li {
    margin: 0px;
    padding: 0px;
  }

  div#top div#navigatie {
    padding: 0px;
  }

  .active {
    background-color: #DB4C40;
    border-radius: 0px 0px 0px 0px !important;
  }

  div#logo {
    left: 15% !important;
    top: 80px !important;
  }

  button.navbar-toggler {
    margin-left: 20px;
  }

  section#middle {
    width: 103% !important;
  }
  section#middle a {
    padding: 0px !important;
  }
}
@media (max-width: 1325px) {
  div#logo {
    left: 40% !important;
  }

  section#middle {
    width: 101.7% !important;
  }
  section#middle a {
    padding: 0px !important;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  font-weight: 600;
  height: 100%;
}
body footer {
  height: 50px !important;
  background-color: #232425;
}
body footer span {
  padding-top: 10px;
  color: #DB4C40;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  font-size: 14px;
}
body footer span a {
  color: #F3EFF5;
}

div#top {
  max-height: 100%;
  background-color: #31124b;
  opacity: 0.9;
}
div#top div#logo {
  position: absolute;
  top: 10px;
  left: 45%;
}
div#top div#logo img {
  width: 200px;
}
div#top div#topbutton {
  height: 120px !important;
  padding: 2px;
  margin: 5px;
  box-sizing: border-box;
}
div#top div#topbutton .btnregis {
  margin: 0px;
  margin-left: 5px;
  padding: 0px;
  min-width: 120px;
  letter-spacing: 3px;
  height: 35px;
}
div#top div#topbutton div {
  height: 0px;
}
div#top div#navigatie {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  max-width: 100%;
  font-size: 12px;
  margin: 0px;
  color: #F3EFF5;
  background-color: #31124b;
  border-bottom: solid 5px #F0C987;
  letter-spacing: 3px;
}
div#top div#navigatie .navbar {
  padding: 0px;
  padding-top: 15px;
  padding-bottom: 0px;
}
div#top div#navigatie .navbar button {
  margin-bottom: 20px;
  background-color: #DB4C40;
}
div#top div#navigatie .navbar button span.navbar-toggler-icon {
  color: #DB4C40;
}
div#top div#navigatie ul li {
  padding-bottom: 0px;
  box-sizing: border-box;
  text-align: center;
}
div#top div#navigatie ul li a {
  min-width: 200px;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  margin: auto;
  padding-left: 0;
}
div#top div#navigatie ul li .active {
  background-color: #F0C987;
  border-radius: 15px 15px 0px 0px;
}
div#top a {
  color: #DB4C40;
}
div#top a:hover {
  color: #F3EFF5;
}
div#top span.navbar-toggler-icon {
  color: #F3EFF5;
}

div#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10000;
  cursor: pointer;
  overflow: hidden;
}
div#overlay i {
  font-size: 80px;
  color: #F3EFF5;
  position: absolute;
  right: 20px;
  z-index: 100002;
}
div#overlay iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

body#home,
body#recipes,
body#recipe,
body#search {
  height: 100%;
}
body#home div.bg,
body#recipes div.bg,
body#recipe div.bg,
body#search div.bg {
  background-image: url("/pics/bgimages.jpg");
  padding: 0px;
}
body#home div.bg section#middle,
body#recipes div.bg section#middle,
body#recipe div.bg section#middle,
body#search div.bg section#middle {
  z-index: 300;
  min-height: 735px;
  width: 100.8%;
  padding: 0px;
  background-color: rgba(60, 21, 59, 0.7);
}
body#home div.bg section#middle div#search,
body#recipes div.bg section#middle div#search,
body#recipe div.bg section#middle div#search,
body#search div.bg section#middle div#search {
  width: 99% !important;
  margin: 0px;
  font-family: "Montserrat", sans-serif !important;
}
body#home div.bg section#middle div#search div.col-auto,
body#recipes div.bg section#middle div#search div.col-auto,
body#recipe div.bg section#middle div#search div.col-auto,
body#search div.bg section#middle div#search div.col-auto {
  padding-left: 20px;
}
body#home div.bg section#middle div#search button,
body#recipes div.bg section#middle div#search button,
body#recipe div.bg section#middle div#search button,
body#search div.bg section#middle div#search button {
  background-color: #3C153B;
  border-color: #31124b;
  padding-left: 5px;
  text-transform: uppercase;
  font-weight: 700;
  width: 300px;
  padding-left: 5px;
}
body#home div.bg section#middle div#result h3,
body#recipes div.bg section#middle div#result h3,
body#recipe div.bg section#middle div#result h3,
body#search div.bg section#middle div#result h3 {
  color: #F3EFF5 !important;
  text-align: center;
  padding-top: 20px;
}
body#home div.bg section#middle div#ingredienten,
body#recipes div.bg section#middle div#ingredienten,
body#recipe div.bg section#middle div#ingredienten,
body#search div.bg section#middle div#ingredienten {
  background-color: rgba(49, 18, 75, 0.6);
  float: left;
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  min-height: 250px;
}
body#home div.bg section#middle div#ingredienten ul,
body#recipes div.bg section#middle div#ingredienten ul,
body#recipe div.bg section#middle div#ingredienten ul,
body#search div.bg section#middle div#ingredienten ul {
  padding: 0px;
  margin: 0px;
}
body#home div.bg section#middle div#ingredienten ul li,
body#recipes div.bg section#middle div#ingredienten ul li,
body#recipe div.bg section#middle div#ingredienten ul li,
body#search div.bg section#middle div#ingredienten ul li {
  color: #F3EFF5;
  text-decoration: none;
  list-style-type: none;
  padding-top: 10px;
  text-align: center;
  height: 80px !important;
  box-sizing: border-box;
}
body#home div.bg section#middle div#ingredienten ul li span,
body#recipes div.bg section#middle div#ingredienten ul li span,
body#recipe div.bg section#middle div#ingredienten ul li span,
body#search div.bg section#middle div#ingredienten ul li span {
  padding: 0px;
  margin: 0px;
  font-size: 0.8rem !important;
}
body#home div.bg section#middle div#ingredienten ul li span h4,
body#recipes div.bg section#middle div#ingredienten ul li span h4,
body#recipe div.bg section#middle div#ingredienten ul li span h4,
body#search div.bg section#middle div#ingredienten ul li span h4 {
  font-size: 1.4rem;
  font-weight: 900;
}
body#home div.bg section#middle div#ingredienten ul li:hover,
body#recipes div.bg section#middle div#ingredienten ul li:hover,
body#recipe div.bg section#middle div#ingredienten ul li:hover,
body#search div.bg section#middle div#ingredienten ul li:hover {
  background-color: rgba(60, 21, 59, 0.6);
}
body#home div.bg section#middle div.detailafbeelding,
body#recipes div.bg section#middle div.detailafbeelding,
body#recipe div.bg section#middle div.detailafbeelding,
body#search div.bg section#middle div.detailafbeelding {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 600px;
}
body#home div.bg section#middle div.detailafbeelding div.row,
body#recipes div.bg section#middle div.detailafbeelding div.row,
body#recipe div.bg section#middle div.detailafbeelding div.row,
body#search div.bg section#middle div.detailafbeelding div.row {
  height: 100%;
}
body#home div.bg section#middle a,
body#recipes div.bg section#middle a,
body#recipe div.bg section#middle a,
body#search div.bg section#middle a {
  height: 100%;
  box-sizing: border-box;
  text-decoration: none;
  padding: 5px;
  padding-left: 100px;
  padding-right: 100px;
  text-transform: uppercase;
  height: 70px;
  width: 100%;
}
body#home div.bg section#middle a div.catover,
body#recipes div.bg section#middle a div.catover,
body#recipe div.bg section#middle a div.catover,
body#search div.bg section#middle a div.catover {
  width: 100%;
  height: 100%;
  background-color: rgba(73, 0, 18, 0.6);
  color: #F3EFF5;
}
body#home div.bg section#middle a div.catover h3,
body#recipes div.bg section#middle a div.catover h3,
body#recipe div.bg section#middle a div.catover h3,
body#search div.bg section#middle a div.catover h3 {
  font-size: 15px;
  font-weight: 700;
  padding-top: 20px;
  padding-left: 30px;
}
body#home div.bg section#middle a div.catover:hover,
body#recipes div.bg section#middle a div.catover:hover,
body#recipe div.bg section#middle a div.catover:hover,
body#search div.bg section#middle a div.catover:hover {
  background-color: rgba(60, 21, 59, 0.7);
}
body#home div.bg section#middle div.item.col-lg-3.col-md-6.col-sm-12.even,
body#recipes div.bg section#middle div.item.col-lg-3.col-md-6.col-sm-12.even,
body#recipe div.bg section#middle div.item.col-lg-3.col-md-6.col-sm-12.even,
body#search div.bg section#middle div.item.col-lg-3.col-md-6.col-sm-12.even {
  background-color: rgba(49, 18, 75, 0.6) !important;
}
body#home div.bg section#middle div.oneven,
body#recipes div.bg section#middle div.oneven,
body#recipe div.bg section#middle div.oneven,
body#search div.bg section#middle div.oneven {
  background-color: rgba(49, 18, 75, 0.8) !important;
}
body#home div.bg section#middle div.item,
body#recipes div.bg section#middle div.item,
body#recipe div.bg section#middle div.item,
body#search div.bg section#middle div.item {
  background-repeat: no-repeat;
  padding: 20px;
  box-sizing: border-box;
  background-size: 500px;
  z-index: 200;
  height: 400px;
  width: 100%;
  background-position: bottom;
}
body#home div.bg section#middle div.item div,
body#recipes div.bg section#middle div.item div,
body#recipe div.bg section#middle div.item div,
body#search div.bg section#middle div.item div {
  position: absolute;
  height: 75px;
  width: 100%;
  top: 325px;
  border: none;
  left: 15px;
  background-color: rgba(60, 21, 59, 0.5);
  display: block;
  justify-content: center;
}
body#home div.bg section#middle div.item div h2,
body#recipes div.bg section#middle div.item div h2,
body#recipe div.bg section#middle div.item div h2,
body#search div.bg section#middle div.item div h2 {
  text-align: center !important;
  font-size: 18px;
  padding-top: 20px;
  font-weight: 700;
  color: #F3EFF5;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 3px;
}
body#home div.bg section#middle div.detail-af,
body#recipes div.bg section#middle div.detail-af,
body#recipe div.bg section#middle div.detail-af,
body#search div.bg section#middle div.detail-af {
  padding: 0px !important;
}
body#home div.bg section#middle div.detail-af div,
body#recipes div.bg section#middle div.detail-af div,
body#recipe div.bg section#middle div.detail-af div,
body#search div.bg section#middle div.detail-af div {
  width: 100%;
  padding: 0px;
  min-height: 500px;
  height: 700px;
  max-height: 700px;
  background-size: auto;
  background-position: left;
  margin: 0px;
}
body#home div.bg section#middle div.detail-af a.youtube,
body#recipes div.bg section#middle div.detail-af a.youtube,
body#recipe div.bg section#middle div.detail-af a.youtube,
body#search div.bg section#middle div.detail-af a.youtube {
  visibility: hidden;
  margin: auto;
  width: 100%;
  height: 100%;
  font-size: 70px;
  color: #DB4C40;
  padding: 0px;
  position: absolute;
  background-color: rgba(243, 239, 245, 0.6);
}
body#home div.bg section#middle div.detail-af a.youtube i,
body#recipes div.bg section#middle div.detail-af a.youtube i,
body#recipe div.bg section#middle div.detail-af a.youtube i,
body#search div.bg section#middle div.detail-af a.youtube i {
  position: absolute;
  top: 42.5%;
  left: 44.5%;
}
body#home div.bg section#middle div.detail-af:hover a.youtube,
body#recipes div.bg section#middle div.detail-af:hover a.youtube,
body#recipe div.bg section#middle div.detail-af:hover a.youtube,
body#search div.bg section#middle div.detail-af:hover a.youtube {
  visibility: visible;
}
body#home div.bg section#middle div.info,
body#recipes div.bg section#middle div.info,
body#recipe div.bg section#middle div.info,
body#search div.bg section#middle div.info {
  text-transform: none;
  color: #F3EFF5;
  padding: 20px;
}
body#home div.bg section#middle div.info h1,
body#recipes div.bg section#middle div.info h1,
body#recipe div.bg section#middle div.info h1,
body#search div.bg section#middle div.info h1 {
  font-weight: 700;
}
body#home div.bg section#middle div.item:hover,
body#recipes div.bg section#middle div.item:hover,
body#recipe div.bg section#middle div.item:hover,
body#search div.bg section#middle div.item:hover {
  background-size: 550px;
}

/*# sourceMappingURL=screen.css.map */
