$bgcolor : #454955;
$textcolor:#F3EFF5;
$pinky: rgb(73, 0, 18);
$anderlecht: #3C153B;
$donkerpaars : rgb(49, 18, 75);
$babykleur: #89BD9E;
$vanillegeelachtig : #F0C987;
$rood: #DB4C40;
$widthlogin : 450px;
$hoogtehome: 50px;
$paddingtop: 20px;


/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $anderlecht;
    z-index: 6000;
    opacity: 0.8;

    img {
        display: block;
        margin-left: auto;
        padding-top: 20%;
        margin-right: auto;
    }
}


body#error {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 20%;
    background-color: $anderlecht;
    color: $textcolor;

    h1 {
        font-size: 4rem;
        text-transform: uppercase;
    }

}

body {

    .btnSubmit,
    .btnregis {
        font-weight: 700;
        font-size: 12px;
        height: 50px;
        width: 100%;
        background-color: $donkerpaars;
        opacity: 0.8;
        border: 2px $vanillegeelachtig solid;
        border-radius: 1.5rem;
        text-transform: uppercase;
        color: $textcolor;
        margin-top: 20px;
        margin-bottom: 20px;
        box-sizing: border-box;

    }

    .btnSubmit:hover,
    .btnregis:hover {
        background-color: $anderlecht;
    }

    .btnSubmit:active {
        box-shadow: none;
    }
}



body#loginpage,
body#registerpage,
body#profiel {
    background-color: $pinky;
    background-image: url("/pics/bgimages.jpg");
    background-repeat: repeat;

    .fill {
        min-height: 100%;
        height: 100%;
        padding-top: 100px;

    }

    div#login,
    div#register,
    div#profiel {
        min-width: $widthlogin -75px;
        max-width: $widthlogin;
        text-align: center;
        margin: auto;


        img {
            width: 200px;
        }

        h3 {
            font-size: 11px;
            padding-bottom: 20px;
        }

        .container {
            font-family: 'Montserrat',
                sans-serif;
            text-transform: uppercase;

        }

        label {
            font-size: 14px;
            text-transform: none;
        }

        .login-form-2 {
            color: $textcolor;
            background-color: rgba($donkerpaars, $alpha: 0.9);
            border: 6px $anderlecht solid;
            height: 100%;
            opacity: 0.8;
            border-radius: 1rem;

            .form-control {
                font-size: 12px;
                border-radius: 1.5rem;
                background-color: $anderlecht;
                color: $textcolor;
                border: $vanillegeelachtig 1px solid;

            }

            .form-control:focus {
                box-shadow: none;
            }

            .btnForgetPwd {
                text-decoration: none;
                color: $textcolor;
                margin-top: 20px;
                text-align: center;
                font-size: 11px;
            }

            .btnForgetPwd:hover {
                text-decoration: none;
                color: lightblue;
            }

        }


    }

}

@media (max-width: 987px) {
    div.detail-af {
        padding: 0px !important;

        div {
            width: 100%;
            padding: 0px;
            height: 500px;
            background-size: 987px !important;
            background-position: top;
            background-repeat: no-repeat;
        }
    }

    ul {
        li {
            margin: 0px;
            padding: 0px;
        }
    }

    div#top {
        div#navigatie {
            padding: 0px;
        }
    }

    .active {
        background-color: #DB4C40;
        border-radius: 0px 0px 0px 0px !important;

    }

    div#logo {
        left: 15% !important;
        top: 80px !important;
    }

    button.navbar-toggler {
        margin-left: 20px;
    }

    section#middle {
        width: 103% !important;

        a {
            padding: 0px !important;
            margin: 0px !important;
        }
    }
}

@media (max-width: 1325px) {
    div#logo {
        left: 40% !important;
    }

    section#middle {
        width: 101.7% !important;

        a {
            padding: 0px !important;
        }
    }
}

body {

    font-family: 'Montserrat',
        sans-serif;
    text-transform: lowercase;
    font-weight: 600;
    height: 100%;

    footer {
        height: 50px !important;
        background-color: #232425;


        span {
            padding-top: 10px;
            color: $rood;
            text-align: center;
            margin: auto;
            text-transform: uppercase;
            font-size: 14px;

            a {
                color: $textcolor;
            }
        }

    }
}



div#top {
    max-height: 100%;
    background-color: $donkerpaars;
    opacity: 0.9;

    div#logo {
        position: absolute;
        top: 10px;
        left: 45%;

        img {
            width: 200px;
        }
    }


    div#topbutton {
        height: 120px !important;
        padding: 2px;
        margin: 5px;
        box-sizing: border-box;


        .btnregis {
            margin: 0px;
            margin-left: 5px;
            padding: 0px;
            min-width: 120px;
            letter-spacing: 3px;
            height: 35px;
        }

        div {
            height: 0px;
        }
    }

    div#navigatie {
        height: 100%;
        font-family: 'Montserrat',
            sans-serif;
        text-transform: uppercase;
        max-width: 100%;
        font-size: 12px;
        margin: 0px;
        color: $textcolor;
        background-color: $donkerpaars;
        border-bottom: solid 5px $vanillegeelachtig;
        letter-spacing: 3px;




        .navbar {
            padding: 0px;
            padding-top: 15px;
            padding-bottom: 0px;

            button {
                margin-bottom: 20px;
                background-color: #DB4C40;

                span.navbar-toggler-icon {
                    color: $rood;

                }
            }
        }

        ul {
            li {
                padding-bottom: 0px;
                box-sizing: border-box;
                text-align: center;

                a {
                    min-width: 200px;
                    max-width: 100%;
                    min-height: 100%;
                    max-height: 100%;
                    margin: auto;
                    padding-left: 0;
                }


                .active {
                    background-color: $vanillegeelachtig;
                    border-radius: 15px 15px 0px 0px;

                }
            }
        }

    }

    a {
        color: $rood;
    }

    a:hover {
        color: $textcolor;
    }

    span.navbar-toggler-icon {
        color: #F3EFF5;
    }
}

div#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10000;
    cursor: pointer;
    overflow: hidden;

    i {
        font-size: 80px;
        color: $textcolor;
        position: absolute;
        right: 20px;
        z-index: 100002;
    }

    iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

body#home,
body#recipes,
body#recipe,
body#search,
body#latest,
body#random,
body#region {
    height: 100%;


    div.bg {

        background-image: url("/pics/bgimages.jpg");
        padding: 0px;

        section#middle {
            z-index: 300;
            min-height: 735px;
            width: 100.8%;
            padding: 0px;
            background-color: rgba($anderlecht, $alpha: 0.7);

            div#search {
                width: 99% !important;
                margin: 0px;
                font-family: 'Montserrat',
                    sans-serif !important;



            }

            form.zoek {
                div {
                    margin: auto;
                }

                button {
                    background-color: $anderlecht;
                    border-color: $donkerpaars;
                    padding-left: 5px;
                    text-transform: uppercase;
                    font-weight: 700;
                    width: 100%;

                }
            }

            h3 {
                color: $textcolor !important;
                text-align: center;
                padding-top: 20px;
                padding-left: 80px !important;
                padding-right: 80px !important;
            }

            div#ingredienten {
                background-color: rgba($donkerpaars, $alpha: 0.6);
                float: left;
                padding: 0px;
                box-sizing: border-box;
                margin: 0px;
                min-height: 250px;

                ul {
                    padding: 0px;
                    margin: 0px;

                    li {
                        color: $textcolor;
                        text-decoration: none;
                        list-style-type: none;
                        padding-top: 10px;
                        text-align: center;
                        height: 80px !important;
                        box-sizing: border-box;

                        span {
                            padding: 0px;
                            margin: 0px;
                            font-size: 0.8rem !important;

                            h4 {
                                font-size: 1.4rem;
                                font-weight: 900;
                            }
                        }

                    }

                    li:hover {
                        background-color: rgba($anderlecht, $alpha: 0.6);
                    }
                }

            }

            div.detailafbeelding {
                background-position: top;
                background-repeat: no-repeat;
                background-size: 600px;

                div.row {
                    height: 100%;
                }
            }

            a {
                height: 100%;
                box-sizing: border-box;
                text-decoration: none;
                padding: 5px;
                padding-left: 100px;
                padding-right: 100px;
                text-transform: uppercase;
                height: 70px;
                width: 100%;


                div.catover {
                    width: 100%;
                    height: 100%;
                    background-color: rgba($pinky, $alpha: 0.6);
                    color: $textcolor;


                    h3 {
                        font-size: 15px;
                        font-weight: 700;
                        padding-top: 20px;
                        padding-left: 30px;
                    }
                }

                div.catover:hover {
                    background-color: rgba($anderlecht, $alpha: 0.7);
                }

            }

            div.item.col-lg-3.col-md-6.col-sm-12.even {
                background-color: rgba($donkerpaars, $alpha: 0.6) !important;
            }

            div.oneven {
                background-color: rgba($donkerpaars, $alpha: 0.8) !important;
            }

            div.item {

                background-repeat: no-repeat;
                padding: 20px;
                box-sizing: border-box;

                background-size: 500px;
                z-index: 200;
                height: 400px;
                width: 100%;
                background-position: bottom;


                div {
                    position: absolute;
                    height: 75px;
                    width: 100%;
                    top: 325px;
                    border: none;
                    left: 15px;
                    background-color: rgba($anderlecht, $alpha: 0.5);
                    display: block;
                    justify-content: center;

                    h2 {
                        text-align: center !important;
                        font-size: 18px;
                        padding-top: 20px;
                        font-weight: 700;
                        color: $textcolor;
                        text-transform: uppercase;
                        box-sizing: border-box;
                        letter-spacing: 3px;
                    }
                }
            }

            div.detail-af {
                padding: 0px !important;

                div {

                    width: 100%;
                    padding: 0px;
                    min-height: 500px;
                    height: 700px;
                    max-height: 700px;
                    background-size: auto;
                    background-position: left;
                    margin: 0px;
                }

                a.youtube {
                    visibility: hidden;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                    font-size: 70px;
                    color: $rood;
                    padding: 0px;
                    position: absolute;
                    background-color: rgba($textcolor, $alpha: 0.6);

                    i {
                        position: absolute;
                        top: 42.5%;
                        left: 44.5%;
                    }
                }
            }

            div.detail-af:hover {
                a.youtube {
                    visibility: visible;
                }
            }

            div.info {
                text-transform: none;
                color: $textcolor;
                padding: 20px;

                h1 {
                    font-weight: 700;
                }


            }



            div.item:hover {
                background-size: 550px;
            }
        }
    }

}